---
import { Image } from '@astrojs/image/components';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-gray-900 text-gray-300">
	<!-- <body class="bg-gray-900 text-gray-300 font-['Inter',sans-serif]"> -->
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DC5DN6"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="max-w-4xl mx-auto px-4 py-8">
		
			<Header />

	        <main>
		        <slot></slot>
	        </main>
			
			<Footer />
		</div>
	</body>
</html>
